<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
</head>
<body>
    <h2>Update User/h2>

    <form method="POST">
        {% csrf_token %}

        <lable> Username: </lable>
        <input type="text" name="username" value="{{ user.name }}"><br><br>

        <lable>Email:</lable>
        <input type="email" name="email" value="{{ user.email }}"><br><br>

        <button type="submit">Save</button>
    </form>
    
</body>
</html>